.row{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.row-unique{
    width: 100%;
}

.rows{
    width: 100%;
}

.textarea{
    display: flex;
    width: 100%;
    align-items: start;
}

.textare-input{
    width: 70%;
    margin-right: 20px;
}

.textarea-field{
    height: 140px;
}

.col-4{
    width: 33.3%;
    margin-right: 20px;
}

.col-3{
    width: 25%;
    margin-right: 20px;
}

.col-2{
    width: 16.6%;
    margin-right: 20px;
}

.col-5{
    width: 41.6%;
    margin-right: 20px;
}

.col-6{
    width: 50%;
    margin-right: 20px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 90%;
    margin: 0 auto;
}

form button{
    margin-top: 30px;
    background: #009C5F;
    color: #FFF;
    border-radius: 4px;
    padding: 15px 40px;
    font-weight: 500;
    font-size: 20px;
    transition: all ease-in 0.3s;
}

form button:hover{
    opacity: 0.9;
}

form .input{
    border: 1px solid #292D32
}